@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-creamLight text-brand-dark antialiased font-sans;
    -webkit-tap-highlight-color: transparent;
  }

  h1,
  h2,
  .font-display {
    font-family: Georgia, Cambria, 'Times New Roman', serif;
  }
}

.safe-top {
  padding-top: env(safe-area-inset-top);
}

.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}
